<h3>Execution Result</h3>

<RadzenCard Style="width: 100%; height:100%">
    <RadzenText Text="@ResultMessage" TextStyle="TextStyle.Caption" TextAlign="TextAlign.Justify">

    </RadzenText>
</RadzenCard>

@code {

    [Parameter] public string ResultMessage { get; set; }

}
